<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Play</h1>
      <p class="lead text-muted">
        Play with a Friend or Computer
      </p>
      <p>
        <a routerLink="/playWithFriend" routerLinkActive="true" class="btn btn-primary my-2"><i class="fa fa-user"></i>  Friend</a>
        <a  routerLink="/playWithComputer" routerLinkActive="true" class="btn btn-secondary my-2"> <i class="fa fa-android"></i>  Computer</a>
      </p>
    </div>
  </section>
</main>
