<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Player</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{wins.firstPlayerWin}}</h1>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Draw</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{wins.draw}}</h1>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        {{Player2}}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{wins.secondPlayerWin}} </h1>
    </div>
  </div>
</div>
